* {
	box-sizing:border-box;
	padding:0;
	margin:0;
	max-width:100%;
}

.container {
	width: 86%;
	margin: 0 auto;
}

nav {
	margin: 0 0 8%;
	position: fixed;
	background-color: rgba(224, 224, 224, 0.9);
	width: 86%;
}

nav a {
	margin: 2%;
	color: slategray;
	text-decoration: none;
}

.logo {
	display: inline-block;
	width: 20%;
	margin-left: 16%;
}

h1, h3 {
	font-family: 'Bangers', cursive;
}

h3 {
	margin-bottom: 6%; 
}

.header-slogan {
	width: 40%;
	text-align: center;
	display: inline-block;
	margin: 0 6%;
}

.header-slogan h1 {
	font-size: 72px;
}

.header-slogan, .header-img {
	margin-top: 8%;
}

.header-slogan button {
	padding: 1% 12%;
	border: solid lightgrey 2px;
	border-radius: 4%;
}

.header-img {
	width: 46%;
	display: inline-block;
	margin-left: 1%;
}

hr {
	margin: 2%;
	border-top: solid 2px grey;
}

.hr1 {
	margin-top: 10%;
}

.section1 .features, .about {
	width: 44%;
	display: inline-block;
	margin: 2%;
}

.banner img{
	width: 96%;
	margin: 2% 2%;
}

.section2 .services, .product, .vision {
	width: 28%;
	display: inline-block;
	margin: 2%;
}

.section3 {
	width: 28%;
	display: inline-block;
	margin: 2%;
}

footer {
	text-align: center;
	margin: 2% 0 20%;
}

.break {
	margin-bottom: 10px;
}